body {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

body *{
    color: white
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  border-right: 4px solid var(--secondary-color);
  align-items: center;
}

#topSidebar {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
  padding: 5px;
}

#bottomSidebar {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}

#main {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#welcomeStart {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#welcomeStart:hover {
    background-color: #a44ff6;
    transform: translateY(-2px);
}


canvas {
    width: 100%;
    height: 100%;
}

.main2D {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.bottomMain2D {
    height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.sliderButton {
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 5%;    
    font-weight: bold;
    background-color: transparent;
    font-size: 18px;
}
