.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Estilos para la animación de entrada y salida 
.page-enter {
  position: absolute;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.page-enter-active {
  transform: translateX(0%);
}

.page-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.page-exit-active {
  transform: translateX(100%);
}

 Estilos para la animación de entrada y salida */

.page-enter .jalar-a-izquierda {
  position: absolute;
  width: 100%;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.page-enter .jalar-a-derecha {
  position: absolute;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.page-enter-active {
  transform: translateX(0%);
}


.page-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.page-exit-active .jalar-a-izquierda{
  transform: translateX(-100%);
}

.page-exit-active .jalar-a-derecha{
  transform: translateX(100%);
}